mixin icon(name, options)
    - options = options || {};
    svg(
        class = options.cls || 'svg-icon'
        width = options.w || null
        height = options.h || null
    )&attributes(attributes)
        use(href="../../svg/" + name + ".svg")
mixin img(className, name, ext, alt)
  img(class=`${className}` srcset=`${pathPrefix}img/${name}.${ext}, ${pathPrefix}img/${name}@2x.${ext} 1.5x, ${pathPrefix}img/${name}@2x.${ext} 2x`, src=`${pathPrefix}img/${name}.${ext}`, alt=`${alt}`)

//- +webp('path/name', 'class', 'alt')

mixin webp(path,cls,alt)
    picture(class!=cls)
        source(type="image/webp" srcset=`${pathPrefix}img/${path}.webp`)
        source(type="image/jpeg" srcset=`${pathPrefix}img/${path}.jpg`)
        img(src=`${pathPrefix}img/${path}.jpg`, alt!=alt)


mixin pic(className, name, ext, alt, triple)
    - triple = triple || false
    picture
        source(media="(min-width: 750px)" srcset=`${pathPrefix}img/${name}@2x.${ext}`)
        source(srcset=`${pathPrefix}img/${name}@2x.${ext} 2x`)
        if triple
            source(srcset=`${pathPrefix}img/${name}@3x.${ext} 3x`)
            source(media="(min-width: 1020px)" srcset=`${pathPrefix}img/${name}@3x.${ext}`)
        img(class=`${className}`, src=`${pathPrefix}img/${name}.${ext}`, alt=`${alt}`, draggable='false', loading='lazy')
